.card-image {
    object-fit: cover;
    object-position: center;
    height: 18rem;
    width: 100%;
    cursor: pointer;
    filter: grayscale(70%);
}

/* .list-card {
    width: 14rem;
} */

.price-badge-discount {
    background-color: #FFE4B5;
}

.price-badge {
    background-color: #D3D3D3;
}