.product-image {
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 400px;
    filter: grayscale(50%);

}

.price-badge-discount {
    background-color: #FFE4B5;
}

.price-badge {
    background-color: #D3D3D3;
}